<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.seu.openstack.dao.ImageInfoDao">
    <select id="selectImageInfo" resultType="cn.edu.seu.openstack.domain.ImageInfo">
        SELECT id, name, hot_degree as hotDegree, size, replica_num_last as replicaNumLast, replica_num_now replicaNumNow, trans_rate_last as transRateLast, trans_rate_now as transRateNow
        FROM image_info ORDER by hot_degree desc limit 10
    </select>
</mapper>