<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.seu.openstack.dao.VlinkInfoDao">
    <select id="selectVlinkInfo" resultType="cn.edu.seu.openstack.domain.VlinkInfo">
        SELECT id, ip_addr_1 as ipAddr1, ip_addr_2 as ipAddr2, bandwidth_load as bandwidthLoad
        FROM vlink_info
    </select>
</mapper>