<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.seu.openstack.dao.WholeStorageUtilizationDao">
    <select id="selectWholeStorageUtilization" resultType="cn.edu.seu.openstack.domain.WholeStorageUtilization">
        SELECT id, storage_utilization as storageUtilization, time
        FROM whole_storage_utilization
        ORDER by time desc limit 1
    </select>


</mapper>